Binaries
DerivedDataCache
Intermediate
Saved
Build

MWLandscapeAutoMaterial
Nanite_Env_Bundle_1
Primitive_Characters_Pack
Scene_QuarrySlate
UltraDynamicSky
Simple_flat_icons

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip