Binaries
DerivedDataCache
Intermediate
Saved
Build

Content/Nanite_Env_Bundle_1
Content/Primitive_Characters_Pack
Content/Scene_QuarrySlate
Content/Simple_flat_icons
Content/Stone_agy
Content/Stylized_Landscape
Content/StylizedlogCabin_A1
Content/UBLandscapeAuto
Content/UltraDynamicSky

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip