Binaries
DerivedDataCache
Intermediate
Saved
Build

Nanite_Env_Bundle_1
Primitive_Characters_Pack
Scene_QuarrySlate
Simple_flat_icons
Stone_agy
Stylized_Landscape
StylizedlogCabin_A1
UBLandscapeAuto
UltraDynamicSky

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip